<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<h1>Witaj w bibliotece.</h1>

<form action="/admin/add" method="POST">
    Tytuł książki:<br>
    <input type="text" name="title" th:required="required">
    <br>
    Autor:<br>
    <input type="text" name="author_id" th:required="required">
    <br>
    ISBN:<br>
    <input type="number" value="isbn">
    <br>
    <br><br>
    <input type="submit" value="Dodaj">
</form>

    Nr. Autor: Tytuł: ISBN
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">Id :</td>
        <br>
        <td th:text="${book.author_id}">Autor :</td>
        <br>
        <td th:text="${book.title}">Title :</td>
        <br>
        <td th:text="${book.isbn}">ISBN :</td>
        <br>
        <td>
            <form action="/admin/del" method="POST">
            <input type="hidden" th:value="${book.id}" name="id" />
            <input type="submit" value="Usuń">
            </form>
        </td>
        <br><br>
    </tr>


</body>
</html>