<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
</head>
<body>
<h1>Witaj w Bibliotece.</h1>
<div>
    <table>
        Wyszukaj książkę:<br>
        <form action="/main" method="POST">
            Tytuł książki:<br>
            <input type="text" name="title" th:required="required"><br>
            Autor:<br>
            <input type="text" name="author"><br>
            ISBN:<br>
            <input type="text" name="isbn"><br>
            <input type="submit" value="Wyszukaj">
            <br><br>
        </form>
    </table>
</div>

<div>
    <h2 style="color: cornflowerblue"></h2>
    <table class="label">
        <thead>
        <tr>
            <td>Nr.</td>
            <td>Autor</td>
            <td>Tytuł</td>
            <td>ISBN</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">
            <td th:text="${book.author_id}">
            <td th:text="${book.title}">
            <td th:text="${book.isbn}">
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>